<tr>
  <td>Request from: <%= link_to request.requester.full_name, :controller => "users", :action => "show", :id => request.requester_id %></td>
  <td><%= link_to 'Accept', request, action: :accept, controller: :requests %></td>
  <td><%= link_to 'Reject', request, action: :reject, controller: :requests %></td>
</tr>