// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#trips {
  width:900px;
  margin:0 auto;
}

#trip_date_1i {
  width:5em;
}

#trip_date_2i {
  width:7.5em;
}

#trip_date_3i {
  width:3.75em;
}